/* FONT BACHELOR */
@font-face{
    font-family: 'Bachelor';
    src: url('../resources/tipography/bachelor-bold.ttf');
}
/* FIN FONT BACHELOR */


/* RESET */
*{
    margin: 0;
    padding: 0;
}
/* FIN RESET */


/* TEXTO BASE */
h1{
    font-family: 'Bachelor', serif;
    font-size: 56px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/* FIN TEXTO BASE */


/* HEADER */
.navbar{
    background-color: black !important;
}

.navbar-nav a{
    color: #E74948 !important;
    font-size: 16px !important;
    font-family: 'Bachelor', serif;
}

#navbarNav{
    background-color: black;
}
/* FIN HEADER */


/* FOOTER */
footer{
    height: 140px;
    width: 100%;
    background-color: black;
}

footer nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: 'Bachelor', serif;
    color: #E74948;
}

footer .list-item a{
    text-decoration: none;
    font-size: 16px;
    color: #E74948;
    padding: 12px;
}

footer .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 32px;
}

footer .contenedor .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer a{
    padding: 0px 6px;
    text-decoration: none;
    color: white;
}

footer hr{
    width: 60%;
    border-color: #E74948;
    background-color: #E74948;
    height: 2px;
    margin: auto;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 8px;   
}

footer p{
    color: #E74948;
    text-align: center;
    font-size: 12px;
}

footer img{
    margin-top: 12px;
    height: 75px;
    width: auto;
}
/* FIN FOOTER */


/* TARJETAS HORIZONTALES */
.horizontalCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    margin: 0px 100px 50px 100px;
}

main .horizontalCard:nth-child(3){
    flex-direction: row-reverse;
}

.horizontalCard .text, .horizontalCard .multimediaContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.horizontalCard .multimediaContainer img, .horizontalCard .multimediaContainer iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.horizontalCard .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 50px;
}

.horizontalCard h2{
    padding-bottom: 12px;
}

.horizontalCard p{
    padding-bottom: 12px;
}

.horizontalCard ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-left: 50px;
    padding-bottom: 6px;
}
/* FIN TARJETAS HORIZONTALES */


/* BOTONES */
.botoms{
    background-color: black;
    padding: 12px 24px;
    border-radius: 8px;
    color: #E74948;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

.botoms:hover{
    background-color: #E74948;
    color: black;
}
/* FIN BOTONES */


/* BANNERS */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #D9D9D9;
    margin-top: 85px;
    margin-bottom: 40px;
}

#banner h1{
    padding-bottom: 24px;
}

#banner h2{
    padding-bottom: 12px;
    text-align: center;
}

#banner h3{
    color: #E74948;
}
/* FIN BANNERS */


/* INDEX */
#hero{
    width: 100%;
    height: 100vh;
    background-image: url(../resources/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

#hero h1{
    color: #E74948;
    padding-left: 100px;
}

#hero h2{
    color: white;
    margin-bottom: 12px;
    padding-left: 100px;
}

#hero h3{
    color: #E74948;
    padding-left: 100px;
}

#main-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    margin: 0px 50px 50px 50px;
}

#main-two h2{
    color: black;
    text-align: center;
}

#main-two .products-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-two .products-container .products{
    width: 300px;
    height: 300px;
    padding: 10px;
}

#main-two img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#main-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 0px 50px;
    align-items: center;
    margin: 100px 100px 50px 100px;
}

#main-four h2{
    padding-bottom: 12px;
}

#main-four p{
    padding-bottom: 12px;
}
/* FIN INDEX */


/* ABOUT */
#about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 85px 0px 100px 0px;
}

#about-title img{
    height: 50vh;
    width: 100vh;
    object-fit: cover;
    padding: 20px 0px;
}

#about-title div{
    text-align: center;
    margin: 0px 200px;
}

#about-one{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 500px;
    margin: 0px 50px 100px 50px;
}

#about-one .text, #about-one .image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#about-one .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#about-one .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 50px;
}

#about-one h2{
    padding-bottom: 12px;
}

#about-one p{
    padding-bottom: 12px;
}

#about-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#about-two h2{
    color: black;
    text-align: center;
    padding-bottom: 12px;
}

#about-two h3{
    color: #E74948;
    font-weight: 600;
    padding-bottom: 40px;
}

#about-two .textbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-two .textbox-container .textbox{
    border: solid 1px black;
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 300Px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0px 20px;
}

#about-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 100px 50px;
}

#about-three h2{
    color: black;
    text-align: center;
    padding-bottom: 12px;
}

#about-three h3{
    color: #E74948;
    padding-bottom: 24px;
}

#about-three .gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-three .small-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-three .small-images img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 6px;
}

#about-three .big-image img{
    height: 512px;
    width: 512px;
    object-fit: cover;
    padding: 6px 6px;
}
/* FIN ABOUT */


/* PRODUCTS */
#productOthers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 45px;
    margin-bottom: 60px;
}

#productOthers h2{
    color: black;
    text-align: center;
    padding-bottom: 12px;
}

#productOthers h3{
    color: #E74948;
    font-weight: 600;
    padding-bottom: 32px;
}

#productOthers .products-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#productOthers .products-container .products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    padding: 30px;
}

#productOthers img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 24px;
}

#productOthers .product-text p{
    text-align: center;
}
/* FIN PRODUCTS */


/* CONTACT */
form{
    height: auto;
    width: auto;
    border: solid 1px black;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin: 0px 100px 50px 100px;
}

form .container{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

form div label{
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: 'Montserrat', sans-serif;
}
/* FIN CONTACT */


/* MEDIAS QUERY - MOBILE */
@media (max-width:480px){

    /* HEADER */
    header nav{
        justify-content: center;
        max-width: 100%;
        height: auto;
        background-color: black !important;
    }

    .navbar-nav a{
        font-size: 12px !important;
    }

    header nav div{
        width: auto !important;
    }

    header img{
        height: 50px;
        width: 150px;
    }
    /* FIN HEADER */

    /* FOOTER */
    footer img{
        height: 50px;
        width: 150px;
    }

    footer nav ul{
        display: none;
    }

    footer .container{
        flex-direction: column;
        margin: 0px
    }

    footer .container .icons{
        margin-top: 16px;
    }
    /* FIN FOOTER */

    /* BANNER */
    #banner{
        height: auto;
        align-items: center !important;
        margin-top: 65px;
    }

    #banner h1{
        font-size: 40px;
        padding: 16px 0px;
    }

    #banner h2{
        font-size: 24px;
        padding-bottom: 8px;
        text-align: center;
    }

    #banner h3{
        font-size: 16px;
        padding-bottom: 8px;
    }
    /* FIN BANNER */

    /* CONTACT */
    form{
        margin: 0px 20px 50px 20px;
    }
    /* FIN CONTACT */

    /* CARDS */
    .horizontalCard{
        flex-direction: column-reverse !important;
        align-items: center;
        height: auto;
        margin: 0px 0px 50px 0px;
    }

    .horizontalCard .multimediaContainer{
        height: 360px;
        width: 360px;
    }

    .horizontalCard .text{
        width: auto;
        padding: 20px 20px 0px 20px;
    }

    .horizontalCard h2{
        font-size: 24px;
        text-align: center;
        padding-bottom: 8px;
    }

    .horizontalCard p{
        font-size: 16px;
        text-align: center;
        padding-bottom: 8px;
    }

    .horizontalCard ul{
        font-size: 16px;
    }
    /* FIN CARDS */


}