/* ABOUT */
#aboutTitle{
    @include flexbox(column, center, center);
    margin: 85px 0px 100px 0px;
    img{
        height: 50vh;
        width: 100vh;
        object-fit: cover;
        padding: 20px 0px;
    }
    div{
        text-align: center;
        margin: 0px 200px;
    }
    @include media-query-mobile(){
        margin: 85px 0px 50px 0px;
        img{
            width: 100%;
        }
        div{
            margin: 0px;
        }
    }
}

#aboutOne{
    @include flexbox(row-reverse, center, center);
    height: auto;
    margin: 0px 50px 100px 50px;
    .image-container{
        @include flexbox(column, center, center);
        width: 50%;   
        img{
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
    .text{
        @include flexbox(column, center, center);
        width: 50%;
        color: $color-primary;
        padding: 20px;
        h2{
            padding-bottom: 12px;
        }
        p{
            padding-bottom: 6px;
        }
    }
    @include media-query-mobile(){
        flex-direction: column;
        height: auto;
        .image-container{
            width: 100%;
            img{
                height: 360px;
            }
        }
        .text{
            width: 100%;
            padding: 10px;
        }
    }
}

#aboutTwo{
    @include flexbox(column, center, center);
    margin-bottom: 100px;
    h2{
        color: $color-primary;
        text-align: center;
        padding-bottom: 12px;
    }
    h3{
        color: $color-tertiary;
        font-weight: 600;
        padding-bottom: 40px;
        text-align: center;
    }
    .textbox-container{
        @include flexbox(row, space-between, center);
        .textbox{
            border: solid 1px black;
            padding: 20px;
            display: inline-block;
            text-align: center;
            width: 300px;
            height: 300Px;
            border-radius: 8px;
            overflow: hidden;
            margin: 0px 20px;
        }
    }
    @include media-query-mobile(){
        h3{
            text-align: center;
        }
        .textbox-container{
            flex-direction: column;
            .textbox{
                margin: 10px;
            }
        }
    }
}

#aboutThree{
    @include flexbox(column, center, center);
    margin: 0px 50px 100px 50px;
    h2{
        color: $color-primary;
        text-align: center;
        padding-bottom: 12px;
    }
    h3{
        color: $color-tertiary;
        padding-bottom: 24px;
    }
    .gallery{
        @include flexbox(row, space-between, center);
        .small-images{
            @include flexbox(column, center, center);
            img{
                height: 250px;
                width: 250px;
                object-fit: cover;
                padding: 6px;
                transition: all 1s ease;
                &:hover{
                    transform: scale(1.25, 1.25);
                    transition: all 1s ease;
                }
            }
        }
        .big-image{ 
            img{
                height: 512px;
                width: 512px;
                object-fit: cover;
                padding: 6px 6px;
                transition: all 1s ease;
                &:hover{
                    transform: scale(1.25, 1.25);
                    transition: all 1s ease;
                }
            }          
        }
    }
    @include media-query-mobile(){
        h3{
            text-align: center;
        }
        .gallery{
            flex-direction: column;
            .small-images{
                flex-direction: row;
                img{
                    height: 160px;
                    width: 160px;
                }
            }
            .big-image{
                img{
                    height: 320px;
                    width: 320px;
                }
            }
        }
    }
}