// ABOUT

// SECTION TITTLE
#aboutTitle{
    @include flexbox(column, center, center);
    margin: 85px 0px 100px 0px;
    img{
        height: 70vh;
        width: 100vh;
        object-fit: cover;
        padding: 20px 0px;
    }
    div{
        text-align: center;
        margin: 0px 200px;
    }
    // RESPONSIVE TABLET
     @include media-query-tablet(){
        margin: 85px 0px 50px 0px;
        img{
            height: 75vh;
            width: 100%;
        }
        div{
            margin: 0px;
        }
        p{
            font-size: $sub-title;
            padding: 0px 20px 0px 20px;
        }
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        margin: 85px 0px 50px 0px;
        img{
            width: 100%;
        }
        div{
            margin: 0px;
        }
    }
}

// SECTION ONE
#aboutOne{
    @include flexbox(row-reverse, center, center);
    height: 500px;
    margin: 0px 50px 100px 50px;
    .image-container{
        @include flexbox(column, center, center);
        width: 50%;
        height: 100%;   
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .text{
        @include flexbox(column, center, center);
        width: 50%;
        color: $color-primary;
        padding: 20px;
        text-align: center;
        h2{
            padding-bottom: 12px;
        }
        p{
            padding-bottom: 6px;
        }
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        flex-direction: column;
        height: auto;
        .image-container{
            width: 100%;
            img{
                height: 400px;
            }
        }
        .text{
            width: 100%;
            padding: 10px;
        }
        h2{
            font-size: $title-md;
        }
        p{
            font-size: $sub-title;
        }
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        flex-direction: column;
        height: auto;
        .image-container{
            width: 100%;
            img{
                height: 360px;
            }
        }
        .text{
            width: 100%;
            padding: 10px;
        }
        h2{
            font-size: 30px;
        }
    }
}

// SECTION TWO
#aboutTwo{
    @include flexbox(column, center, center);
    margin-bottom: 100px;
    h2{
        color: $color-primary;
        text-align: center;
        padding-bottom: 12px;
    }
    h3{
        color: $color-tertiary;
        font-weight: 600;
        padding-bottom: 40px;
        text-align: center;
    }
    .textbox-container{
        @include flexbox(row, space-between, center);
        .textbox{
            border: solid 1px black;
            padding: 20px;
            display: inline-block;
            text-align: center;
            width: 300px;
            height: 300Px;
            border-radius: 8px;
            overflow: hidden;
            margin: 0px 20px;
        }
    }
    // RESPOSIVE TABLET
    @include media-query-tablet(){
        h2{
            font-size: $title-md;
        }
        h3{
            font-size: $sub-title;
            text-align: center;
            padding: 20px;
        }
        .textbox-container{
            flex-direction: column;
            .textbox{
                margin: 10px;
                width: 400px;
                height: 400px;
                p{
                    font-size: $sub-title;
                    padding: 20px;
                }
            }
        }
    }
    // RESPOSIVE MOBILE
    @include media-query-mobile(){
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 16px;
            text-align: center;
        }
        .textbox-container{
            flex-direction: column;
            .textbox{
                margin: 10px;
            }
        }
    }
}

// SECTION THREE
#aboutThree{
    @include flexbox(column, center, center);
    margin: 0px 50px 100px 50px;
    h2{
        color: $color-primary;
        text-align: center;
        padding-bottom: 12px;
    }
    h3{
        color: $color-tertiary;
        padding-bottom: 24px;
    }
    .gallery{
        @include flexbox(row, space-between, center);
        .small-images{
            @include flexbox(column, center, center);
            img{
                height: 250px;
                width: 250px;
                object-fit: cover;
                padding: 6px;
                transition: all 1s ease;
                &:hover{
                    transform: scale(1.25, 1.25);
                    transition: all 1s ease;
                }
            }
        }
        .big-image{ 
            img{
                height: 512px;
                width: 512px;
                object-fit: cover;
                padding: 6px 6px;
                transition: all 1s ease;
                &:hover{
                    transform: scale(1.25, 1.25);
                    transition: all 1s ease;
                }
            }          
        }
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        h2{
            font-size: $title-md;
        }
        h3{
            font-size: $sub-title;
            text-align: center;
        }
        .gallery{
            flex-direction: column;
            .small-images{
                flex-direction: row;
            }
        }
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        h2{
            font-size: 30px;
        }
        h3{
            font-size: $paragraph;
            text-align: center;
        }
        .gallery{
            flex-direction: column;
            .small-images{
                flex-direction: row;
                img{
                    height: 160px;
                    width: 160px;
                }
            }
            .big-image{
                img{
                    height: 320px;
                    width: 320px;
                }
            }
        }
    }
}