/* CONTACT */
form{
    height: auto;
    width: auto;
    border: solid 1px black;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin: 0px 100px 50px 100px;
    .container{
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    div{
        label{
            font-size: 16px !important;
            font-weight: 600 !important;
            font-family: 'Montserrat', sans-serif;
        }
    }
}
