// INDEX

// SECTION HERO
#hero{
    width: 100%;
    height: 100vh;
    background-image: url(../resources/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @include flexbox(column, center, none);
    margin-bottom: 60px;
    h1{
        color: $color-tertiary;
        padding-left: 100px;
    }
    h2{
        color: $color-secondary;
        margin-bottom: 12px;
        padding-left: 100px;
    }
    h3{
        color: $color-tertiary;
        padding-left: 100px;
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        padding-top: 90px;
        background-position: 65% 65%;
        justify-content: start;
        h1{
            padding-left: 0px;
            text-align: center;
        }
        h2{
            padding-left: 0px;
            text-align: center;
        }
        h3{
            padding-left: 0px;
            padding-top: 60vh;
            text-align: center;
        }
    }
}

// SECTION TWO
#productShow{
    @include flexbox(column, center, center);
    padding: 60px 0px;
    margin: 0px 50px 50px 50px;
    h2{
        color:$color-primary;
        text-align: center;
    }
    .products-container{
        @include flexbox(row, space-between, center);
        margin: 20px 0px;
        .products{
            width: 300px;
            height: 300px;
            padding: 10px;
        }
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 1s ease;
        &:hover{
            transform: scale(1.5, 1.5);
            transition: all 1s ease;
        }
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        .products-container{
            flex-direction: column;
        }
    }
}

// SECTION FOUR
#callAction{
    @include flexbox(column, center, none);
    text-align: center;
    height: auto;
    padding: 0px 50px;
    align-items: center;
    margin: 100px 100px 50px 100px;
    h2{
        padding-bottom: 12px;
    }
    p{
        padding-bottom: 12px;
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        margin: 100px 0px;
    }
}

// EDITING CLASS HORIZONTAL-CARDS
.index-card{
    h2{
        font-size: 40px !important;
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        flex-direction: column !important;
    }
}
