/* INDEX */
#hero{
    width: 100%;
    height: 100vh;
    background-image: url(../resources/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    h1{
        color: #E74948;
        padding-left: 100px;
    }
    h2{
        color: white;
        margin-bottom: 12px;
        padding-left: 100px;
    }
    h3{
        color: #E74948;
        padding-left: 100px;
    }
    @include media-query-mobile(){
        padding-top: 90px;
        background-position: 65% 65%;
        justify-content: start;
        h1{
            padding-left: 0px;
            text-align: center;
        }
        h2{
            padding-left: 0px;
            text-align: center;
        }
        h3{
            padding-left: 0px;
            padding-top: 65vh;
            text-align: center;
        }
    }
}

#productShow{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    margin: 0px 50px 50px 50px;
    h2{
        color: black;
        text-align: center;
    }
    .products-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .products{
            width: 300px;
            height: 300px;
            padding: 10px;
        }
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    @include media-query-mobile(){
        .products-container{
            flex-direction: column;
        }
    }
}

#callAction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 0px 50px;
    align-items: center;
    margin: 100px 100px 50px 100px;
    h2{
        padding-bottom: 12px;
    }
    p{
        padding-bottom: 12px;
    }
    @include media-query-mobile(){
        margin: 100px 0px;
    }
}

.index-card{
    @include media-query-mobile(){
        flex-direction: column !important;
    }
}
