// INDEX

// SECTION HERO
#hero{
    width: 100%;
    height: 100vh;
    background-image: url(../resources/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    @include flexbox(column, center, none);
    margin-bottom: 60px;
    h1{
        color: $color-tertiary;
        padding-left: 100px;
    }
    h2{
        color: $color-secondary;
        margin-bottom: 12px;
        padding-left: 100px;
    }
    h3{
        color: $color-tertiary;
        padding-left: 100px;
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        padding-top: 100px;
        background-position: 70% 70%;
        justify-content: start;
        h1{
            padding-left: 0px;
            text-align: center;
        }
        h2{
            padding-left: 0px;
            text-align: center;
        }
        h3{
            padding-left: 0px;
            padding-top: 65vh;
            text-align: center;
            font-size: 24px;
        }
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        padding-top: 90px;
        background-position: 65% 65%;
        justify-content: start;
        h1{
            padding-left: 0px;
            text-align: center;
        }
        h2{
            padding-left: 0px;
            text-align: center;
        }
        h3{
            padding-left: 0px;
            padding-top: 65vh;
            text-align: center;
        }
    }
}

// SECTION TWO
#productShow{
    @include flexbox(column, center, center);
    margin: 100px 50px;
    h2{
        color:$color-primary;
        text-align: center;
    }
    .products-container{
        @include flexbox(row, space-between, center);
        margin: 20px 0px;
        .products{
            width: 300px;
            height: 300px;
            padding: 10px;
        }
    }
    img{
        height: 100%;
        width: 100%;
        border: 1px solid black;
        object-fit: cover;
        transition: all 1s ease;
        &:hover{
            transform: scale(1.5, 1.5);
            transition: all 1s ease;
        }
    }
    // RESPONSIVE DESKTOP XXL
    @include media-query-desktop-xxl(){
        .products-container{
            .products{
                width: 400px;
                height: 400px;
            }
        }
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        .products-container{
            flex-direction: column;
            .products{
                width: 500px;
                height: 500px;
            }
        }
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        .products-container{
            flex-direction: column;
        }
    }
}

// SECTION FOUR
#callAction{
    @include flexbox(column, center, none);
    text-align: center;
    height: auto;
    padding: 0px 50px;
    align-items: center;
    margin: 50px 100px 50px 100px;
    h2{
        padding-bottom: 12px;
    }
    p{
        padding-bottom: 12px;
    }
    // RESPONSIVE DESKTOP XXL
    @include media-query-desktop-xxl(){
        margin: 50px 200px 100px 200px;
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        margin: 50px 0px 100px 0px;
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        margin: 50px 0px 100px 0px;
    }
}

// EDITING CLASS HORIZONTAL-CARDS
.index-card{
    h2{
        font-size: $title-md !important;
    }
    .text{
        margin-bottom: 25px;
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        flex-direction: column !important;
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        flex-direction: column !important;
    }
}
