/* PRODUCTS */
.product-mobile{
    @include media-query-mobile(){
        flex-direction: column !important;
    }
}

#productOthers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 45px;
    margin-bottom: 60px;
    h2{
        color: black;
        text-align: center;
        padding-bottom: 12px;
    }
    h3{
        color: #E74948;
        font-weight: 600;
        padding-bottom: 32px;
    }
    .products-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .products{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 500px;
            padding: 30px;
        }
    }
    img{
        height: 500px;
        width: 100%;
        object-fit: cover;
        padding-bottom: 24px;
    }
    .product-text{ 
        p{
            text-align: center;
        }
    }
    @include media-query-mobile(){
        align-items: center;
        padding: 20px 45px;
        h2{
            font-size: 24px;
            padding-bottom: 8px;
        }
        h3{
            font-size: 16px;
            padding-bottom: 8px;
        }
        .products-container{
            flex-direction: column;
            .products{
                width: 350px;
            }
        }
        img{
            height: 400px;;
             padding-bottom: 16px;
        }
    }
}