// PRODUCTS 

// CLASS FOR RESPONSIVE
.product-mobile{
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        flex-direction: column !important;
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        flex-direction: column !important;
    }
}

// SECTION PRODUCT OTHERS
#productOthers{
    @include flexbox(column, center, center);
    padding: 60px 45px;
    margin-bottom: 60px;
    h2{
        color: $color-primary;
        text-align: center;
        padding-bottom: 12px;
    }
    h3{
        color: $color-tertiary;
        font-weight: 600;
        padding-bottom: 32px;
    }
    .products-container{
        @include flexbox(row, space-between, center);
        .products{
            @include flexbox(column, space-between, center);
            width: 500px;
            padding: 30px;
        }
    }
    img{
        height: 500px;
        width: 100%;
        object-fit: cover;
        padding-bottom: 24px;
    }
    .product-text{ 
        p{
            text-align: center;
        }
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        align-items: center;
        padding: 20px 45px;
        h2{
            font-size: 32px;
            padding-bottom: 8px;
        }
        h3{
            font-size: $sub-title;
            padding-bottom: 8px;
        }
        .products-container{
            flex-direction: column;
            .products{
                width: 500px;
            }
        }
        img{
            height: 500px;;
             padding-bottom: 16px;
        }
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        align-items: center;
        padding: 20px 45px;
        h2{
            font-size: 24px;
            padding-bottom: 8px;
        }
        h3{
            font-size: $paragraph;
            padding-bottom: 8px;
        }
        .products-container{
            flex-direction: column;
            .products{
                width: 350px;
            }
        }
        img{
            height: 400px;;
             padding-bottom: 16px;
        }
    }
}