/* FOOTER */
footer{
    height: 140px;
    width: 100%;
    background-color: $color-primary;
    hr{
        width: 60%;
        border-color: $color-tertiary;
        background-color: $color-tertiary;
        height: 2px;
        margin: auto;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 8px;   
    }
    p{
        color: $color-tertiary;
        text-align: center;
        font-size: 12px;
    }
    .contenedor{
        @include flexbox(row, space-between,center);
        margin: 0px 32px;
        img{
            margin-top: 12px;
            height: 75px;
            width: auto;
        } 
        .icons{
            @include flexbox(row, center, center);
            a{
                padding: 0px 6px;
                text-decoration: none;
                color: $color-secondary;
            }
        }
        nav{
            ul{
                @include flexbox(row, center !important, center !important);
                list-style-type: none;
                .list-item{ 
                    a{
                        text-decoration: none;
                        font-size: $paragraph;
                        color: $color-tertiary;
                        padding: 12px;
                        font-family: 'Bachelor', serif;
                    }
                }
            }
        }
    }
    @include media-query-mobile(){
        .contenedor{
            flex-direction: column;
            align-items: center; 
            margin: 0px;
            .icons{
                margin-top: 16px;
            }
            img{
                height: 50px;
                width: 150px;
            }
            nav{
                ul{
                    display: none;
                }
            }
        }
    }
}


