// HEADER - EDITING BOOTSTRAP
header{
    .header{
        background-color: $color-primary !important;
        #navbarNav{
            background-color: $color-primary;
            .header-items{
                a{
                    color: $color-tertiary !important;
                    font-size: $sub-title;
                    font-family: 'Bachelor', serif;
                    &:hover{
                        color: $color-secondary !important;
                    }
                }
            }
        }
    }
    // RESPONSIVE TABLET
    @include media-query-tablet(){
        .header{
            div{
                width: auto !important;
                img{
                    height: auto;
                    width: auto;
                }
            }  
        } 
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        .header{
            max-width: 100%;
            height: auto;
            div{
                width: auto !important;
                img{
                    height: 50px;
                    width: 150px;
                }
                .header-items{
                    a{
                        font-size: $paragraph !important;
                    }
                }
            }  
        } 
    }
}


