/* HEADER */
header{
    .header{
        background-color: black !important;
        #navbarNav{
            background-color: black;
            .header-items{
                a{
                    color: #E74948 !important;
                    font-size: 16px !important;
                    font-family: 'Bachelor', serif;
                }
            }
        }
    }
    @include media-query-mobile(){
        .header{
            justify-content: center;
            max-width: 100%;
            height: auto;
            background-color: black !important;
            div{
                width: auto !important;
                img{
                    height: 50px;
                    width: 150px;
                }
                .header-items{
                    a{
                        font-size: 12px !important;
                    }
                }
            }  
        } 
    }
}


