// BUTTONS
.buttons{
    background-color: $color-primary;
    padding: 12px 24px;
    border-radius: 8px;
    color: $color-tertiary;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
    &:hover{
        background-color: $color-tertiary;
        color: $color-primary;
    }
}