// CARDS
.horizontal-card{
    @include flexbox(row, center, none);
    height: 500px;
    margin: 0px 100px 50px 100px;
    .multimedia-container{
        width: 50%;
        @include flexbox(column, center, none);
        img, iframe{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .text{
        width: 50%;
        @include flexbox(column, center, center);
        padding: 25px;
        h2{
            font-size: 24px;
            padding-bottom: 12px;
            text-align: center;
        }
        p{
            padding-bottom: 6px;
            text-align: center;
        }
        ul{
            font-family: 'Montserrat', sans-serif;
            font-size: $paragraph;
            padding-left: 50px;
            padding-bottom: 6px;
        }
    }
    &:nth-of-type(odd){
        flex-direction: row-reverse;
    }
    // RESPONSIVE MOBILE
    @include media-query-mobile(){
        flex-direction: column-reverse !important;
        align-items: center;
        height: auto;
         margin: 0px 0px 50px 0px;
        .multimedia-container{
            height: 360px;
            width: 360px;
        }
        .text{
            width: auto;
            padding: 20px 20px 0px 20px;
            align-items: center;
            h2{
                font-size: 24px;
                text-align: center;
                padding-bottom: 8px;
            }
            p{
                font-size: $paragraph;
                text-align: center;
                padding-bottom: 8px;
            }
            ul{
                font-size: $paragraph;
            }
        }
    }
}



