/* TARJETAS HORIZONTALES */
.horizontal-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    margin: 0px 100px 50px 100px;
    .multimedia-container{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        img, iframe{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .text{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        color: black;
        padding: 50px;
        h2{
            padding-bottom: 12px;
        }
        p{
            padding-bottom: 12px;
        }
        ul{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            padding-left: 50px;
            padding-bottom: 6px;
        }
    }
    &:nth-of-type(odd){
        flex-direction: row-reverse;
    }
    @include media-query-mobile(){
        flex-direction: column-reverse !important;
        align-items: center;
        height: auto;
         margin: 0px 0px 50px 0px;
        .multimedia-container{
            height: 360px;
            width: 360px;
        }
        .text{
            width: auto;
            padding: 20px 20px 0px 20px;
            h2{
                font-size: 24px;
                text-align: center;
                padding-bottom: 8px;
            }
            p{
                font-size: 16px;
                text-align: center;
                padding-bottom: 8px;
            }
            ul{
                font-size: 16px;
            }
        }
    }
}



